<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.makstashkevich.telegramlogin">

  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <data android:scheme="https" />
    </intent>
  </queries>

  <application android:usesCleartextTraffic="true">
    <activity
      android:name="com.makstashkevich.telegramlogin.internal.WebViewLoginActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
      android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
  </application>
</manifest>
